.tabs {
    margin-top: var(--spacer-medium);
}

.tabs__list {
    display: flex;
    align-items: flex-start;
    gap: var(--spacer-medium);
}

.avatar {
    user-select: none;
    width: var(--spacer-xxlarge);
    height: var(--spacer-xxlarge);
    font-size: 1.375rem;
    font-weight: var(--font-weight-semibold);
    border-radius: var(--border-radius);
    border: 2px solid var(--primary-300);
    background-color: var(--background-900);
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
    display: flex;
}

table {
    table-layout: fixed;
    background-color: var(--background-800);
    border-radius: var(--border-radius);
    border-spacing: 0;
    width: 100%;
    text-align: left;
}

td {
    padding: var(--spacer-medium);
}

th {
    border-bottom: 1px solid var(--border-color);
    padding: var(--spacer-medium);
    text-align: left;
    color: var(--primary-300);
    font-weight: var(--font-weight-regular);
    font-size: var(--font-medium);
    line-height: var(--line-height-normal);
}

.amount-column-th {
    width: 8rem;
    text-align: right;
}

.transaction-detail {
    display: grid;
    grid-template-columns: min-content 1fr;
    gap: var(--spacer-medium);
    align-items: center;
}

.transaction-amount {
    text-align: right;
}

.error-text {
    color: var(--color-red);
}

.transaction-category {
    color: var(--primary-300);
    font-size: var(--font-small-medium);
}

.transaction-category::first-letter {
    text-transform: capitalize;
}
