.accounts {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
    gap: var(--spacer-medium);
}

.account {
    background: var(--background-850);
    padding: var(--spacer-large);
    text-align: left;
}

.total {
    height: 1.875rem;
}

.currencyValue {
    font-size: 1.375rem;
    line-height: 28px;
}
