.header {
    display: flex;
    align-items: center;
    height: 71px;
    border-bottom: 1px solid var(--background-800);
}

.logo {
    height: 1.875rem;
    will-change: filter;
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
        animation: logo-spin infinite 20s linear;
    }
}
